.button {
	cursor: pointer;
	display: flex;
	align-items: center;
	font-size: 14px;
	text-align: center;
	line-height: 17px;
	transition: all 0.2s ease;
	background: transparent;
	border: none;
	padding: 5px 18px;
	font-weight: 600;
}

.primary {
	background-color: var(--color-active);
	color: var(--color-white);
	border-radius: 2px;
}

.ghost {
	border: 1.5px solid var(--color-active);
	border-radius: 2px;
	color: var(--color-active);
}

.startIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
	color: inherit;
}