.header {
    min-height: 87px;
    display: flex;
    align-items: center;
    justify-content: space-between;
	padding: 29px 0;
}

.buttonGroup {
    display: flex;
    align-items: center;
}


.buttonsNavigations {
    display: flex;
    margin-right: 30px;
}

.buttonsNavigations {
    svg {
        cursor: pointer;
        font-size: 18px;
        &:not(:last-child) {
            margin-right: 22px;
        }
    }
}